@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');

/* START JUMBOTRON */
.jumbotron1{
  background-image: url('./assets/main-bg.jpg');
  height: 960px;
  background-size: cover;
  border-radius: 0px;
  text-align: center;

  background-attachment: fixed;
  background-position: center;
}

.jumbotron1 h1 {
  margin-top: 120px;
  text-shadow: 1px 1px 2px black;
}

.jumbotron1 p {
  text-shadow: 1px 1px 2px black;
}

.jumbotron1 .btn{
  margin-top: 50px;
}

.btn{
  border-radius: 10px;
}
/* END JUMBOTRON */

/* START SECTION 1 */
.section1 {
    background-image: url('./assets/the-games-bg.jpg');
    height: 982px;
    background-size: cover;
    border-radius: 0px;
    text-align: center;
  
    background-attachment: fixed;
    background-position: center;
}
/* END SECTION 1 */

/* START SECTION 1 */
.section1{
  background-image: url('./assets/the-games-bg.jpg');
  height: 982px;
  background-size: cover;
  border-radius: 0px;

  background-attachment: fixed;
  background-position: center;
}

.section1 p{
  width: 411.5px;
  height: 28.42px;
  left: 78px;
  top: 281.11px;
  text-shadow: 1px 1px 2px black;
}

.section1 h1 {
  width: 411.5px;
  height: 73.64px;
  left: 78x;
  top: 323.09px;
  text-shadow: 1px 1px 2px black;
}

.col-lg-7{
  width: 868x;
  height: 477px;
  left: 453px;
  top: 318.7px;
}
/* END SECTION 1 */


/* START SECTION 2 */
.jumbotron2{
    background-image: url('./assets/features.jpg');
    height: 650px;
    background-size: cover;
    border-radius: 0px;
    text-align: center;
  
    background-attachment: fixed;
    background-position: center;
  }
/* END SECTION 2 */

/* START SECTION 3 */
.jumbotron3{
    background-image: url('./assets/requirements.png');
    height: 650px;
    background-size: cover;
    border-radius: 0px;
    text-align: center;
  
    background-attachment: fixed;
    background-position: center;
  }
/* END SECTION 3 */

/* START SECTION 4 */
.jumbotron4{
    background-image: url('./assets/top-score-bg.png');
    height: 650px;
    background-size: cover;
    border-radius: 0px;
    text-align: center;
  
    background-attachment: fixed;
    background-position: center;
  }
/* END SECTION 4 */

/* START SECTION 5 */
.jumbotron5{
    background-image: url('./assets/newsletter.png');
    height: 650px;
    background-size: cover;
    border-radius: 0px;
    text-align: center;
  
    background-attachment: fixed;
    background-position: center;
  }
/* END SECTION 5 */


/* START CARD */
.card-body p{
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  font-size: 24px;
}

.mycard{
  margin-top: -80px;
}

.card{
  border-radius: 40px;
}

.carousel-item img{
  border-radius: 10px;
}
/* END CARD */





/* START SECTION 6 */
.section6{
  margin-top: 30px;
}

.section6 .col-lg-5 h1{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 35px;
}

.boldthis {
  font-weight: 1000;
}
/* END SECTION 6 */


/* ADDITIONAL */
@media (min-width: 992px) { 
  .jumbotron{
    margin-top: -56px;
  }

  .nav-item {
    margin-left: 30px;
    text-shadow: 0px 0px 4px black;
  }

  .navbar-light .navbar-brand{
    color: white;
    text-shadow: 0px 0px 4px black;
    font-weight: 700;
  }

  .navbar-light .collapse .navbar-nav .nav-item a {
    color: white;
  }
}