@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Poppins:400,500,700,800");

:root {
    /* PRIMARY */
    --background-color: #9C835F;
    --back-button: #9C835F;
    --game-title: #F9B23D;
    --name-player: #000;

    /* NEUTRAL */
    --playing: #C4C4C4;
    --bg-result: #4C9654;
    --versus: #BD0000;

    /* FONT WEIGHT */
    --font-bold: 680;
}

html,
body {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    width:100%;
    font-weight: var(--font-bold);
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    display: flex;
    margin: 36px 0 0 36px;
}

a {
    color: #724C21;
    text-decoration: none;
} a:hover {background-color: gold;border-radius: 150px;}

.back {
    display: grid;
    place-items: center;
}
.back:hover {
    transform: scale(1.5);
}

.game-name {
    display: flex;
    align-items: center;
    margin-left: 26px;
}

.game-name h1 {
    margin-left: 16px;
    font-size: 1.5em;
    width: 100%;
}

/* GAME SECTION */
section {
    margin: 6px auto;
}

.game-playground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
}

.player-name {
    font-size: 36px;
}

button {
    background-color: transparent;
    border-color: transparent;
    width: 20%;
    height: 120px;
}

/* PLAYER */
.player-tools {
    cursor: pointer;
}

.player-tools:hover {
    transform: rotate(16deg);
}

/* CENTER NAVIGATION */
.boxReset {
    margin: 20px 10px;
}

.boxReset h1 {
    font-size: 46px;
    color: var(--versus);
    font-weight: var(--font-bold);
}

/* JavaScript Inject */


/* BOT */
